---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Link from "../components/Link";
const pageTitle = "Steve Klabnik's Blog";
const allPosts = await getCollection("blog");

let allPostsByDate = (() => {
  let posts: Record<string, Array<CollectionEntry<"blog">>> = {};
  allPosts.map((post) => {
    let year = new Date(post.data.pubDate).getFullYear();
    let array = posts[year.toString()];

    // if this is the first post of this year, we have to create the inner array
    if (!array || !array.length) {
      posts[year.toString()] = [];
    }

    posts[year.toString()].push(post);
  });

  for (const [key, value] of Object.entries(posts)) {
    value.sort((a, b) => b.data.pubDate - a.data.pubDate);
  }

  return posts;
})();

const years = Object.keys(allPostsByDate).reverse();
const frontmatter = { pageTitle: pageTitle };
---

<BaseLayout frontmatter={frontmatter}>
  <h2 class="text-2xl py-2">This is my blog.</h2>
  <div class="prose prose-slate">
    {
      years.map((year) => (
        <>
          <h2 class="m-1">{year}</h2>
          <ul class="m-1 p-2">
            {allPostsByDate[year].map((post) => (
              <li class="list-disc ml-10">
                <a href={`/writing/${post.slug}/`}>{post.data.title}</a>
              </li>
            ))}
          </ul>
        </>
      ))
    }
  </div>
</BaseLayout>
