---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="alternate" type="application/rss+xml" title="Steve Klabnik" href="/feed.xml" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>
		<Navigation />
        <slot />
	</body>
</html>
