---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
		<link rel="manifest" href="/manifest.webmanifest">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="alternate" type="application/rss+xml" title="Steve Klabnik" href="/feed.xml" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container">
		<h1>{pageTitle}</h1>
		<Navigation />
        <slot />
		</div>
	</body>
</html>
